@model IEnumerable<MovieWatchList.ViewModels.MovieViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
            </td>
            <td>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        if (item.InWatchlist)
                        {
                        <button data-val="true" id="@item.MovieId">
                            -
                        </button>
                        }
                        else
                        {
                        <button data-val="false" id="@item.MovieId">
                            +
                        </button>
                            }
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
    <script>
        $(document).ready(function () {

            $('button').click(function () {
                var btn = $(this);
                let movieId = btn.attr('id');
                let val = btn.attr('data-val');

                if (val === "false") {
                    val = "true";
                } else {
                    val = "false";
                }

                $.get(`/Movies/AddRemove?movieId=${movieId}&val=${val}`, function (data) {
                    if (data) {
                        btn.attr('data-val', 'true');
                        btn.html("-");
                    } else {
                        btn.attr('data-val', 'false');
                        btn.html("+");
                    }
                });
            });
        });
    </script>
}